.form
  =semantic_form_for(@feed) do |f|
    -if @feed.errors.any?
      #error_explaination
        %h2
          =pluralize(@feed.errors.count, 'error')
        %ul
          -@feed.errors.full_messages.each do |msg|
            %li=msg
            
    =f.inputs do
      =f.input :url
      =f.input :source_id, as: :select, collection: @sources, include_blank: true, label_method: :title
      =f.input :section
      =f.input :area_importance
      =f.input :is_local_news

      -@interest_questions.each do |iq|
        =f.semantic_fields_for :relation_level do |rl|
          =rl.input :score, label: iq.question_text, as: :range, 
                    max: 100, min: 0, default: 0
          -rl.input :interest_question_id, as: :hidden, value: iq.id

    =f.actions do
      =f.action :submit
      =f.action :cancel