.form.admin-text.container
  =semantic_form_for(@feed) do |f|
    -if @feed.errors.any?
      #error_explaination
        %h2
          =pluralize(@feed.errors.count, 'error')
        %ul
          -@feed.errors.full_messages.each do |msg|
            %li=msg
            
    =f.inputs do
      =f.inputs :url, :section, :is_local_news, :area_importance

      =f.collection_select :source_id, @sources, :id, :title

      =f.inputs for: :relation_levels do |rl, i|
        =rl.label @interest_questions[i-1].question_text
        =rl.range_field :score, max: 100, min: 0

        =rl.hidden_field :interest_question_id, value: @interest_questions[i-1].id

    =f.submit class: 'btn btn-large btn-primary'
