-if current_user.is_admin
  -provide :title, 'All Interest Questions'
  %h1 All Interest Questions
  %p.admin-text= link_to 'New Interest Question', new_interest_question_path
  %ul
    -@interest_questions.each do |iq|
      %li.admin-text
        =link_to iq.question_text, edit_interest_question_path(iq)
        ='----'
        =link_to 'Delete', interest_question_path(iq), method: 'delete'
-else
  %h1 ACCESS DENIED