<li>
  <h3><%= recent_newspaper.title.titleize</h3>
	<h6>Newspaper created <%= time_ago_in_words( n.created_at ) %></h6>
	<ul class='article'>
    <%	recent_newspaper.articles.take(5).each do |a| %>
      <li>
    		<h4><%= a.title.titleize %></h4>
  		  <p><%= truncate a.content, length: 140 %></p>
      </li>
  	<% end %>
  </ul>
</li>
