-if current_user.is_admin
  %h1 Users
  %ol
    -@users.each do |user|
      %li.admin-text
        = link_to user.name, user_path(user)
        = link_to 'delete', user_path(user), method: :delete
-else 
  %h1 ACCESS DENIED.