- provide(:title, 'News')

.container
  .column
    -@articles.to_enum.with_index(3) do |a, i|
      =render a if i%3 == 0
  .column
    -@articles.to_enum.with_index(2) do |a, i|
      =render a if i%3 == 0
  .column
    -@articles.to_enum.with_index(1) do |a, i|
      =render a if i%3 == 0

