%header.navbar.navbar-fixed-top
  .container
    %ul.nav.pull-left
      %span.glyphicon.glyphicon-registration-mark
      %li= link_to 'Red Pill Reader', '#'
    %ul.nav.pull-right
      -if current_user
        %li= link_to current_user.name.titleize, user_path(current_user)
        %li=link_to 'Settings', edit_user_path(current_user)
        %li= link_to 'Sign out', signout_path, method: 'delete'
        -if current_user.is_admin
          =render 'layouts/admin_toolbar'
      -else
        %li= link_to 'Sign in', signin_path
